.mood-container {
    text-align: center;
    height: 100vh;
    transition: background-color 0.3s ease;
}

.mood-container.happy {
    background-color: pink; /* bright yellow */
}

.mood-container.sad {
    background-color: #2196F3; /* deep blue */
}

.mood-container.neutral {
    background-color: #9E9E9E; /* gray */
}

.quotes {
    font-size: smaller;
    font-weight: bold;
}